{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="{%static 'img/core-img/favicon.ico'%}">
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css'%}">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="{% url 'index'%}" class="nav-brand"><img src="{%static 'img/core-img/logo.png'%}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{%url 'seller_index'%}">Home</a></li>
                                    <li><a href="{%url 'seller_add_product'%}">Add Concert</a></li>
                                    <li><a href="{%url 'seller_view_product'%}">Manage Concerts</a></li>
                                    <li><a href="{%url 'blog'%}">Support</a></li>
                                    <li><a href="{%url 'contacts'%}">Contact</a></li>
                                </ul>
                               
                                {% if request.session.email %}
                                <div class="classynav">
                                  <ul>
                                    <li><a href="#">{{ request.session.fname}} {{request.session.lname }}</a>
                                        <ul class="dropdown">
                                            <li><a href="{%url 'seller_profile'%}">Profile</a></li>
                                            <li><a href="{%url 'logout'%}">Logout</a></li>
                                            <li><a href="{%url 'seller_change_password'%}">Change Password</a></li>
                                        </ul>
                                    </li>
                                  </ul>
                                </div>
                                   
                                {%else%}
                                   <!-- Login/Register & Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Login/Register -->
                                    <div class="login-register-btn mr-50">
                                        <a href="{%url 'signup'%}" id="loginBtn">Register</a>
                                    </div>
                                    <div class="login-register-btn mr-50">
                                        <a href="{%url 'login'%}" id="loginBtn">Login</a>
                                    </div>

                                    <!-- Cart Button
                                    <div class="cart-btn">
                                        <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                    </div> 
                                    -->
                                </div>
                                {%endif%}
                                
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->


<body>
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url('{% static 'img/bg-img/breadcumb3.jpg'%}');">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>Profile</h2>
            <br>
            <br>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
    {% if msg %}
    <h4 style="color: green; text-align: center;">{{msg}}</h4>
    {% endif %}

  <section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://pluspng.com/img-png/png-user-icon-circled-user-icon-2240.png" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{user.fname}} {{user.lname}}</h5>
          </div>
        </div>
        <div class="col-12">
          <div class="load-more-btn text-center mb-70">
            <a href="{% url 'seller_index'%}" class="btn oneMusic-btn"><i class="fa fa-angle-double-left"></i> Back to Home</a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">First Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.fname}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Last Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.lname}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.mobile}} </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.email}}</p>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div class="col-12">
            <div class="load-more-btn text-center mb-70">
                <a href="{% url 'seller_edit_profile'%}" class="btn oneMusic-btn">Edit Profile</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>


    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#"><img src="{%static 'img/core-img/logo.png'%}" alt=""></a>
                    
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="{%url 'seller_index'%}">Home</a></li>
                            <li><a href="{%url 'seller_add_product'%}">Add Concert</a></li>
                            <li><a href="{%url 'seller_view_product'%}">Manage Concerts</a></li>
                            <li><a href="{%url 'blog'%}">Blog</a></li>
                            <li><a href="{%url 'contacts'%}">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js'%}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js'%}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js'%}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js'%}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js'%}"></script>

   
</body>

</html>
{%endblock%}